:root {
    --color-letter: #fcf7ff;
    --color-letter2: #020305;
    --color-background: #050012;
    --color-background2:#11141f;
    --color-background3:#191e2d;
    --color-primary1: #45937f;
    --color-primary2: #0e002f;
    --color-primary3: #4ca18c;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Small screen */

body {
    color: var(--color-letter);
    font-size: 13px;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(135deg,  #0e002f 0%, #03484c 100%);
    background-position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 9px;
    background: linear-gradient(135deg,  #0e002f -100%, #03484c 60%);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-background);
    border: 1px solid var(--color-background);
    border-radius: 10px;
}

.container {
    padding-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}




/* Header */

.header {
    max-width:800px;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.header-logo {
    text-align: center;
    font-size: clamp(25px, 8vw, 60px);
    cursor: default;
}

.header-description {
    text-align: center;
    font-size: clamp(12px, 4vw, 22px);
    cursor: default;
}

.header span {
    color: var(--color-primary3);
}

.header a {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: 0.3s;
}
.header a span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -20px;
    border: 1px solid var(--color-letter);
    border-radius: 100%;
    box-sizing: border-box;
}
.header a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid var(--color-letter);
    border-bottom: 1px solid var(--color-letter);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.header a:hover {
    translate: 0 10px;
}




/* Form */

.survey-form {
    background-color: var(--color-background);
    max-width: 500px;
    margin: 70px auto;
    padding: 2.4em 2em 2em 2em;
    border-radius: 3px;
}

.survey-form .form-div {
    text-align: left;
    font-size: 1em;
    margin-bottom: 1em;
}

.survey-form input,
.survey-form textarea,
.survey-form button,
.survey-form label,
.survey-form select,
.survey-form p {
    width: 100%;
    padding: 0.6em;
    margin: auto;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    outline: none;
    display:inline-block;
    color: var(--color-letter);
}


.survey-form input,
.survey-form textarea {
    font-size: 0.9em;
    background-color: var(--color-background2);
    border-bottom: 2px solid var(--color-background2);
    transition: all 0.3s;
}

.survey-form input:hover,
.survey-form textarea:hover  {
    background-color:  var(--color-background3);
}

.survey-form input:focus,
.survey-form textarea:focus {
    border-bottom: 2px solid var(--color-primary1);
}

.survey-form span {
    font-size: 0.9em;
}

.survey-form fieldset {
    border-radius: 3px;
    padding: 0;
    border: none;
    border-bottom: 2px solid var(--color-background2);
    padding-bottom: 0.5em;
    background-color: #0c0f1400;
}

.survey-form textarea {
    resize: none;
}

.survey-form input[type=number]::-webkit-inner-spin-button,
.survey-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.survey-fomr input[type=number] { 
    -moz-appearance: textfield; 
}


/* Form(Fullname) */

.survey-form .first-name {
    margin-bottom: 0.6em;
}

/* Form(Gender) */

.survey-form .gender-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    height: 50%;
}

.survey-form .gender-label {
    background-color: var(--color-primary2);
    padding: 15px;
    height: 2em;
    color: var(--color-letter);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.survey-form .gender-label:hover,
.survey-form .gender-label:focus {
    background: var(--color-primary1);
    color: var(--color-letter2);
}


.survey-form .gender-radio:checked + .gender-label {
    background-color: var(--color-primary3);
    color: var(--color-letter2);
}

.survey-form .gender-radio {
    display: none;
}

.survey-form .fa-solid {
    font-size: 1.2em;
}


/* Form(Question 1 = q1) */

.survey-form .q1-select {
    padding: 0.5em;
    overflow: none;
    cursor: pointer;
    background: var(--color-background2);
    border-bottom: 2px solid var(--color-background2);
    transition: all 0.3s;
}

.survey-form .q1-select:hover {
    background-color: var(--color-background3);
}


/* Form(Question 2 and 3 = q2, q3) */

.survey-form .q2-label,
.survey-form .q3-label {
    display: grid;
    grid-template-columns: 1.5em auto;
    gap: 0.5em;
    font-size: 0.9em;
    background-color: #0c0f1400;
    border-bottom: 2px solid #1e1f2000;
    transition: all 0.3s;  
}

.survey-form .q2-radio,
.survey-form .q3-radio {
    display: none;
}

.survey-form .q2-label:hover,
.survey-form .q2-label:focus,
.survey-form .q3-label:hover,
.survey-form .q23-label:focus {
    background: var(--color-background3);
    color: var(--color-primary1);
    cursor: pointer;
} 

.survey-form .q2-radio:checked + .q2-label,
.survey-form .q3-radio:checked + .q3-label {
    color: var(--color-primary1);
    background: var(--color-background2);
}

.survey-form .q2-label::before,
.survey-form .q3-label::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: var(--color-backgroun3);
    border: 3px solid var(--color-background2);
    outline: 2px solid #262626;
    border-radius: 50%;
    margin: auto;
    transition: all 0.3s ease;
}

.survey-form .q2-radio:checked + .q2-label::before,
.survey-form .q3-radio:checked + .q3-label::before { 
    background: var(--color-primary1);
}

/* Form(Question 4 and 5 = q4, q5) */

.survey-form .q4-label,
.survey-form .q5-label {   
    display: grid;
    grid-template-columns: 1.5em auto;
    gap: 0.5em;
    font-size: 0.9em;
    background-color: #0c0f1400;
    border-bottom: 2px solid #1e1f2000;
    transition: all 0.3s;
}

.survey-form .q4-checkbox,
.survey-form .q5-checkbox {
    display: none;
}

.survey-form .q4-label:hover,
.survey-form .q4-label:focus,
.survey-form .q5-label:hover,
.survey-form .q5-label:focus {
    background: var(--color-background3);
    color: var(--color-primary1);
    cursor: pointer;
}

.survey-form .q4-label::before,
.survey-form .q5-label::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: var(--color-backgroun3);
    border: 3px solid var(--color-background2);
    outline: 2px solid #262626;
    border-radius: 50%;
    margin: auto;
    transition: all 0.3s;
}

.survey-form .q4-checkbox:checked + .q4-label::before,
.survey-form .q5-checkbox:checked + .q5-label::before { 
    background: var(--color-primary1);
}



/* Form(Submit) */

.survey-form .submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.survey-form .submit-button {
    background-color: var(--color-primary2);
    padding: 0.6em;
    font-size: 1.1em;
    position: relative;
    cursor: pointer;
    width: clamp(100px, 40vw, 200px);
    transition: all 0.3s ease;
}

.survey-form .submit-button:hover,
.survey-form .submit-button:focus {
   background: var(--color-primary1);
   color: var(--color-letter2);
}

/* Large screen */

@media (min-width: 750px) {
    body {
        font-size: 15px;
    }


    .header a {
        top: 90%;
    }

    /* Form */

    .survey-form {
        max-width: 900px;
        padding: 2.8em 4em 3em 4em;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between; 
        gap: 1em 2.5em;
    }

    .survey-form .form-div {
        font-size: 1.1em;
        margin-bottom: 1.1em;
    }

    .survey-form .fullname,
    .survey-form .fullname-label,
    .survey-form .q1,
    .survey-form .q2,
    .survey-form .q3,
    .survey-form .q4,
    .survey-form .q5,
    .survey-form .coment,
    .survey-form .submit {
        grid-column: 1/3;
    }

    .survey-form span {
        font-size: 0.9em;
    }

     /* Form(Full name) */

     .survey-form .fullname {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2.5em;
    }

    .survey-form .first-name {
        margin: auto;
    }
}

